
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: local;
    background-color: #9EC349;
    color: white;
   
}
body {
    background-color: #DDF3AB;
}